.container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.container p {
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  transition: color 0.2s;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  span {
    cursor: pointer;
    &:hover {
      color: rgba(235, 28, 36, 1);
    }
  }
}
