.wrapper__header {
  display: flex;
  justify-content: center;
}
.header {
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 94px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1780px;
  gap: 10px;
}

.navigation {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navigation a {
  transition: color 0.2s;
  &:hover {
    color: rgba(235, 28, 36, 1);
  }
}

.number__block {
  display: flex;
  gap: 15px;
  align-items: center;
  svg {
    cursor: pointer;
  }
}

.number {
  font-size: 1.2rem;
}

.number__text {
  color: rgba(117, 117, 117, 1);
  font-size: 0.9rem;
}

@media (max-width: 850px) {
  .header > svg:first-of-type {
    width: 70px;
  }
  .number__block {
    flex-wrap: wrap;
    width: 152px;
    justify-content: flex-end;
  }

  .header {
    justify-content: space-around;
  }
}

@media (max-width: 700px) {
  .number__block {
    display: none;
  }
}

.about__popup_container {
  position: relative;
  cursor: pointer;
  padding: 5px 0;
  &:hover {
    .about_popup {
      animation: appearance 0.5s forwards;
    }
  }
}

.about_popup {
  padding: 16px;
  visibility: hidden;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 100%;
  right: -10px;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transform: translateY(10px);
  display: flex;
  transition: opacity 0.3s ease, transform 0.3s ease;
  span {
    font-size: 14px;
    transition: color 0.1s;
    &:hover {
      color: rgba(235, 28, 36, 1);
    }
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
