.wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 var(--section-padding);
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1780px;
  min-height: 513px;

  padding: 60px 60px 0 60px;
  background-color: rgba(25, 25, 25, 1);
  border-radius: 40px;
  box-sizing: border-box;

  display: flex;
  gap: 30px;
}

.left_side {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.info {
  h1 {
    color: rgba(243, 243, 243, 1);
    font-weight: 900;
    font-size: 2rem;
  }

  p {
    margin-top: 15px;
    color: rgba(117, 117, 117, 1);
    font-size: 1rem;
  }
}

.links__container {
  margin-top: auto;
  margin-bottom: 60px;
  display: flex;
  //   align-items: center;
  gap: 30px;
}

.сontact_details__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.сontact_details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  h4 {
    margin: 0;
    color: rgba(117, 117, 117, 1);
    font-size: 15px;
  }
  p {
    font-weight: 700;
    font-size: 16px;
    color: rgba(243, 243, 243, 1);
  }
}

.external_links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.external_link {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: color 0.2s;
  max-width: 220px;

  &:hover {
    p {
      color: rgba(235, 28, 36, 1);
    }
  }

  p {
    color: rgba(243, 243, 243, 1);
    font-size: 16px;
  }
}

@media (max-width: 1350px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left_side {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 600px) {
  .links__container {
    flex-direction: column;
    margin-right: auto;
  }
  .container {
    padding: 40px 40px 0 40px;
  }
}
