.container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 10px;
  justify-items: center;
  @media (max-width: 1250px) {
    grid-template-columns: repeat(3, 33%);
  }
  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 50%);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 100%);
  }
}
